<div>
  <h2>Task Tracker</h2>
  <h4>Version: 0.6.0</h4>
  <a routerLink="/">Go Back</a>
  <hr />

  <br />
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rerum, omnis esse minus dolore corporis iure nulla consectetur eos rem ad dolorum saepe facilis illum perferendis ullam cupiditate unde! Nulla.
    Iste laudantium dolore iure possimus quidem minus neque, temporibus modi eaque sequi ullam velit officiis molestias! A quas corrupti quasi necessitatibus quam eum sit fugiat odit? Corrupti quos harum ipsa?
    Magnam modi doloribus sint, aliquam quod dolorum debitis sed laborum fugiat iure ea fuga unde repudiandae omnis ab distinctio optio molestiae vel necessitatibus perspiciatis possimus quisquam blanditiis totam magni. Optio!
    Aspernatur totam dolore quo quasi eaque, commodi, fugiat asperiores maiores fugit nihil voluptatem itaque optio temporibus? Sequi iure voluptatem dolor atque incidunt. Impedit numquam facere dolorum! Unde ducimus necessitatibus in!
    Nemo dolorum facilis ducimus iste perferendis molestiae sed totam assumenda illo animi, illum nesciunt ratione quisquam modi aliquid voluptatum dicta omnis porro voluptatem esse placeat. Quia ullam libero eligendi culpa!
    Esse, possimus dolore expedita cupiditate atque nesciunt similique nulla rerum doloribus, consectetur a numquam ipsa magnam mollitia quasi maiores distinctio corporis! Laborum ducimus totam consequuntur nam. Consectetur nostrum voluptas reprehenderit?
    Vitae explicabo, expedita autem minus maiores veniam rerum voluptatem, obcaecati aut minima molestias consectetur amet nulla fugiat porro animi ipsam nemo aperiam, commodi cum nobis! Id quae et ullam voluptas.
    Eligendi itaque, facilis sed earum hic animi sit dicta architecto fugiat quam, praesentium pariatur dolores voluptatibus nesciunt eveniet laborum corrupti officiis rerum consequuntur nobis quaerat iure. Eaque iste natus rerum.
    Dolorum eos aliquid tempore ad incidunt? Enim voluptate excepturi pariatur repudiandae ipsam quaerat optio modi. Quis ratione cum maxime unde nesciunt ullam animi fuga neque voluptate molestiae ea, perspiciatis nulla!
    Quidem rerum corrupti accusantium alias dolorem ad, aliquid culpa impedit molestias saepe fugiat quas aut odio quasi fuga eveniet ab vitae magni. Recusandae, veritatis animi quae expedita dicta veniam maxime.
  </p>
</div>